In [1]:
import pandas as pd

In [2]:
pandas_df = pd.read_excel("df_qualidy_sales_product_1.xlsx")
pandas_df.head()

       DATUM FILIALE  PRODUKT  SALES
0 2023-01-02    B307   207775     10
1 2023-01-02    B558   207775     22
2 2023-01-02    BP10   207775     14
3 2023-01-02    BQ02   207775     14
4 2023-01-02    B657   207775      5

In [ ]:
import polars as pl

In [6]:
polars_df = pl.read_excel("df_qualidy_sales_product_1.xlsx")
polars_df

shape: (563_157, 4)
┌────────────┬─────────┬─────────┬───────┐
│ DATUM      ┆ FILIALE ┆ PRODUKT ┆ SALES │
│ ---        ┆ ---     ┆ ---     ┆ ---   │
│ date       ┆ str     ┆ str     ┆ i64   │
╞════════════╪═════════╪═════════╪═══════╡
│ 2023-01-02 ┆ B307    ┆ 207775  ┆ 10    │
│ 2023-01-02 ┆ B558    ┆ 207775  ┆ 22    │
│ 2023-01-02 ┆ BP10    ┆ 207775  ┆ 14    │
│ 2023-01-02 ┆ BQ02    ┆ 207775  ┆ 14    │
│ 2023-01-02 ┆ B657    ┆ 207775  ┆ 5     │
│ …          ┆ …       ┆ …       ┆ …     │
│ 2023-12-30 ┆ B366    ┆ 207775  ┆ 5     │
│ 2023-12-30 ┆ BT48    ┆ 207775  ┆ 10    │
│ 2023-12-30 ┆ B041    ┆ 207775  ┆ 28    │
│ 2023-12-30 ┆ BM18    ┆ 207775  ┆ 8     │
│ 2023-12-30 ┆ BN56    ┆ 207775  ┆ 16    │
└────────────┴─────────┴─────────┴───────┘

In [9]:
polars_df.select(
    pl.col("FILIALE")
)

shape: (563_157, 1)
┌─────────┐
│ FILIALE │
│ ---     │
│ str     │
╞═════════╡
│ B307    │
│ B558    │
│ BP10    │
│ BQ02    │
│ B657    │
│ …       │
│ B366    │
│ BT48    │
│ B041    │
│ BM18    │
│ BN56    │
└─────────┘

In [12]:
pandas_df.to_csv("sales_data.csv")

In [13]:
q = pl.scan_csv("sales_data.csv")
q.select(
    pl.col("FILIALE")
)

In [14]:
q.collect()

shape: (563_157, 5)
┌────────┬────────────┬─────────┬─────────┬───────┐
│        ┆ DATUM      ┆ FILIALE ┆ PRODUKT ┆ SALES │
│ ---    ┆ ---        ┆ ---     ┆ ---     ┆ ---   │
│ i64    ┆ str        ┆ str     ┆ i64     ┆ i64   │
╞════════╪════════════╪═════════╪═════════╪═══════╡
│ 0      ┆ 2023-01-02 ┆ B307    ┆ 207775  ┆ 10    │
│ 1      ┆ 2023-01-02 ┆ B558    ┆ 207775  ┆ 22    │
│ 2      ┆ 2023-01-02 ┆ BP10    ┆ 207775  ┆ 14    │
│ 3      ┆ 2023-01-02 ┆ BQ02    ┆ 207775  ┆ 14    │
│ 4      ┆ 2023-01-02 ┆ B657    ┆ 207775  ┆ 5     │
│ …      ┆ …          ┆ …       ┆ …       ┆ …     │
│ 563152 ┆ 2023-12-30 ┆ B366    ┆ 207775  ┆ 5     │
│ 563153 ┆ 2023-12-30 ┆ BT48    ┆ 207775  ┆ 10    │
│ 563154 ┆ 2023-12-30 ┆ B041    ┆ 207775  ┆ 28    │
│ 563155 ┆ 2023-12-30 ┆ BM18    ┆ 207775  ┆ 8     │
│ 563156 ┆ 2023-12-30 ┆ BN56    ┆ 207775  ┆ 16    │
└────────┴────────────┴─────────┴─────────┴───────┘

In [15]:
polars_df.filter(
    pl.col("FILIALE") == "B307"
)

shape: (292, 4)
┌────────────┬─────────┬─────────┬───────┐
│ DATUM      ┆ FILIALE ┆ PRODUKT ┆ SALES │
│ ---        ┆ ---     ┆ ---     ┆ ---   │
│ date       ┆ str     ┆ str     ┆ i64   │
╞════════════╪═════════╪═════════╪═══════╡
│ 2023-01-02 ┆ B307    ┆ 207775  ┆ 10    │
│ 2023-01-03 ┆ B307    ┆ 207775  ┆ 2     │
│ 2023-01-04 ┆ B307    ┆ 207775  ┆ 7     │
│ 2023-01-05 ┆ B307    ┆ 207775  ┆ 14    │
│ 2023-01-06 ┆ B307    ┆ 207775  ┆ 12    │
│ …          ┆ …       ┆ …       ┆ …     │
│ 2023-12-23 ┆ B307    ┆ 207775  ┆ 16    │
│ 2023-12-27 ┆ B307    ┆ 207775  ┆ 5     │
│ 2023-12-28 ┆ B307    ┆ 207775  ┆ 3     │
│ 2023-12-29 ┆ B307    ┆ 207775  ┆ 5     │
│ 2023-12-30 ┆ B307    ┆ 207775  ┆ 8     │
└────────────┴─────────┴─────────┴───────┘

In [17]:
polars_df.with_columns(
    (pl.col("FILIALE") + " " + pl.col("PRODUKT")).alias("store and product")
)

shape: (563_157, 5)
┌────────────┬─────────┬─────────┬───────┬───────────────────┐
│ DATUM      ┆ FILIALE ┆ PRODUKT ┆ SALES ┆ store and product │
│ ---        ┆ ---     ┆ ---     ┆ ---   ┆ ---               │
│ date       ┆ str     ┆ str     ┆ i64   ┆ str               │
╞════════════╪═════════╪═════════╪═══════╪═══════════════════╡
│ 2023-01-02 ┆ B307    ┆ 207775  ┆ 10    ┆ B307 207775       │
│ 2023-01-02 ┆ B558    ┆ 207775  ┆ 22    ┆ B558 207775       │
│ 2023-01-02 ┆ BP10    ┆ 207775  ┆ 14    ┆ BP10 207775       │
│ 2023-01-02 ┆ BQ02    ┆ 207775  ┆ 14    ┆ BQ02 207775       │
│ 2023-01-02 ┆ B657    ┆ 207775  ┆ 5     ┆ B657 207775       │
│ …          ┆ …       ┆ …       ┆ …     ┆ …                 │
│ 2023-12-30 ┆ B366    ┆ 207775  ┆ 5     ┆ B366 207775       │
│ 2023-12-30 ┆ BT48    ┆ 207775  ┆ 10    ┆ BT48 207775       │
│ 2023-12-30 ┆ B041    ┆ 207775  ┆ 28    ┆ B041 207775       │
│ 2023-12-30 ┆ BM18    ┆ 207775  ┆ 8     ┆ BM18 207775       │
│ 2023-12-30 ┆ BN56    ┆ 207775  ┆ 16    ┆ BN56 207775       │
└────────────┴─────────┴─────────┴───────┴───────────────────┘